@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: black; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(99, 102, 105);
    border: none; 
    border-radius: 10px;
  }


.gradient-background {
    background: linear-gradient(120deg, #c0c0c0 30%, #a0a0a0 38%, #a0a0a0 40%, #c0c0c0 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: gradient-animation 2s infinite;
}

@keyframes gradient-animation {
    100% {
        background-position: -100% 0;
    }
}

.sidebar::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}



.btn {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.btn:hover {
    padding: 4px 10px;
    background-color: rgb(56, 55, 55);
    border-radius: 20px;
    font-size: 14px;
}

.zoom-animation {
    animation: zoomInOut 0.5s ease-in-out;
   }
   
@keyframes zoomInOut {
    0% {
      transform: scale(1);
   }
    50% {
      transform: scale(1.5) rotate(-20deg);
   }
    100% {
      transform: scale(1);
   }
  }